Unattended-Upgrade::Automatic-Reboot "{{ 'true' if host_hardening_auto_reboot else 'false' }}";
Unattended-Upgrade::Automatic-Reboot-Time "{{ host_hardening_auto_reboot_time }}";
Unattended-Upgrade::Origins-Pattern {
        "origin=Ubuntu,label=Ubuntu";
};
